<!DOCTYPE html>
<html>
  <head>
    <title>Try multicorn !</title>
    <script type="text/javascript">
    </script>
    <script src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-console.js') }}"></script>
    <script src="{{ url_for('multicornjs') }}"></script>
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
  </head>
  <body>
    <section>
      <header>
        <h1>Try multicorn !</h1>
      </header>
      <aside>
        <p>Multicorn is a python binding for postgresql foreign wrapper.</p>
        <p>We have defined several tables, with which you can play !:
        <ul>
          <li>A github table, wich you can use to query github projects</li>
          <li>A reddit table, presenting the front page</li>
        </ul>
        </aside>
        <aside>
        </aside>
      <section id="console"/>
    </section>
  </body>
</html>
